.topnav {
    background-color: gray;
    overflow: hidden;
    width: 500px;
}
.topnav a {
    color: skyblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  
}
.topnav a:hover {
    background-color:salmon;
    border-style: groove;
}
.topnav a.active {
    color: salmon;
    border-style: dashed;
}
nav{
    text-align: left;
    font-style: unset;
    border-style: groove;
    font-size: large;
    color: skyblue;
}
header {
    width: 100%;
}

 body {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto;
    height: 100vh;

 }
 .box{
    width: 450px;
    background-color: blue;
    padding: 0;
    text-align: center;
    height: 450px;
 }
 .box-img{
    height: 200px;
   width: 200px;
   border-radius: 80%;
 }
 h1{
    border-style: groove;
   font-style: oblique;
    border-radius: 100%;
    color: skyblue;
    text-align: center;
    margin: 0;
    padding: 0;
 }
 h5 {
    border-style: groove;
    font-style: oblique;
    border-radius: 100%;
    color: skyblue;
 }
 p {
    border-style: groove;
    font-style: oblique;
    border-radius: 120%;
    color: skyblue;
 }
.form1{
    background-color: blue;
    margin: 0;
    width: 450px;
    padding: 20px;
    text-align: center;
    height: 450px;
}
.img1 {
    background-color: blue;
    margin: 0;
    padding: 20px;
    text-align: center;
    height: 200px;
    width: 200px;
    border-radius: 80%;
    z-index: 3;
}


 h2 {
    border-style: groove;
    font-style: oblique;
    border-radius: 100%;
    color: skyblue;
 }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}










 <section>
 <section class="box1">
     <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium, eligendi, voluptas, nam architecto provident labore at necessitatibus doloribus id pariatur harum ratione porro ducimus ipsam officiis amet iusto quo fuga.
     </p>
 </section> 
 <section>
 <section class="box2">
     <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium, eligendi, voluptas, nam architecto provident labore at necessitatibus doloribus id pariatur harum ratione porro ducimus ipsam officiis amet iusto quo fuga.
     </p>   
 </section>    